/.idea/libraries/Gradle__com_google_code_gson_gson_2_8_5.xml
/.idea/libraries/Gradle__com_squareup_okhttp3_okhttp_3_14_4.xml
/.idea/libraries/Gradle__com_squareup_retrofit2_converter_gson_2_6_2.xml
/.idea/libraries/Gradle__com_squareup_retrofit2_converter_simplexml_2_3_0.xml
/.idea/libraries/Gradle__com_squareup_retrofit2_retrofit_2_7_1.xml
/.idea/libraries/Gradle__io_reactivex_rxjava2_rxjava_2_0_0.xml
/.idea/libraries/Gradle__org_simpleframework_simple_xml_2_7_1.xml
/.idea/libraries/Gradle__stax_stax_1_2_0.xml
/.idea/libraries/Gradle__stax_stax_api_1_0_1.xml
/.idea/libraries/Gradle__xpp3_xpp3_1_1_3_3.xml
